.bg-default{
    background-color: #1C1C24!important;
}

.btn-ctm{
    margin-top: 30px;
    color: #3DB391;
    border: 1px solid #3DB391;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 25px 8px 30px;
    background-color: transparent;
}

.p-size-ctm {
    font-size: 18px;
}

.btn-ctm:hover{
    background-color: #3DB391;
    color: #1C1C24;
}