<div class="container-fluid bg-dark">
    <div class="row min-vh-100 align-items-center d-flex justify-content-center">
        <div class="col-12 col-md-6 p-home-ctm order-last order-md-first">
            <h1 class=" fw-bolder text-light">Animal Tracking</h1>
            <p class="text-light p-size-ctm pe-xl-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat, animi quod! Fugit eaque, aspernatur quaerat, totam iste adipisci explicabo aliquid porro placeat, animi numquam quasi libero eius veniam recusandae voluptates.</p>
            <button class="btn-ctm" (click)="navigateToDashboard()">Get started <i class="ms-2 fw-bold bi bi-arrow-up-right"></i></button>
        </div>
        <div class="col-12 col-md-6 order-first order-md-last align-items-center d-flex justify-content-center">
            <img class="img-fluid" src="../assets/imgs/dog_walking.png">
        </div>
    </div>
</div>