.btn-ctm{
    margin-top: 30px;
    color: #6F4BDB;
    border: 1px solid #6F4BDB;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 25px 8px 30px;
    background-color: transparent;
}

.p-size-ctm {
    font-size: 18px;
}

.btn-ctm:hover{
    background-color: #6F4BDB;
    color: #212529;
}