/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';

$primary-color: #1C1C24;
$secondary-color: #3DB391;
$thirdy-color: #2F2F3C;

@font-face {
    font-family: 'Roobert-Regular';
    src: url('./assets/fonts/Roobert-Regular.ttf');
}

@font-face {
    font-family: 'Adieu-Regular';
    src: url('./assets/fonts/Adieu-Regular.ttf');
}

h1, h2, h3 {
    font-family: 'Adieu-Regular'!important;
    font-size: calc( (100vw - 375px)/(1440 - 375) * (76 - 40) + 40px)!important;
    line-height: 100%;
    margin: 0 0 20px!important;
}

body {
    font-family: 'Roobert-Regular'!important;
}

//CAMBIO IL COLORE DELLA SELEZIONE DEL TESTO
::selection {
    color: $thirdy-color!important;
    background-color: $secondary-color;
}

// FONT/DIMENSIONE PER I "TITOLI" DELLA DASHBOARD
h6{
    font-family: 'Adieu-Regular'!important;
    font-size: 35px!important;
}